<!DOCTYPE html>
<html>

<head>
	<title>Cityscape</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="<%= staticUrl %>/style.min.css">
	<link rel="icon" type="image/png" href="<%= staticUrl %>/favicon.ico">
</head>

<body>

	<div id="container">
		<%= content %>
	</div>


	<footer>
		<h6>This product uses the Flickr API but is not endorsed&nbsp;or&nbsp;certified&nbsp;by&nbsp;Flickr.</h6>
	</footer>


	<script type="text/javascript" src="<%= staticUrl %>/app.js"></script>

</body>

</html>

<%= iso %>